bsp/
!bsp/Readme.md
cache/
!cache/2022.1/downloads/Readme.md
!cache/2022.1/sstate/Readme.md
os/.petalinux/
!os/.petalinux/metadata
os/.Xil/
os/build/
os/components/
os/hardware/
os/images/linux/
os/pre-built/
os/project-spec/hw-description/
!os/project-spec/hw-description/readme.md
os/project-spec/configs
!os/project-spec/configs/config
!os/project-spec/configs/rootfs_config
scripte/yocto
*/*/config.old
*/*/rootfs_config.old
*.o
*.log
*.jou
