bsp/
!bsp/Readme.md
cache/
!cache/2022.1/downloads/Readme.md
!cache/2022.1/sstate/Readme.md
.petalinux
!.petalinux/metadata
build/
images/linux
os/
!os/configs
!os/project-spec
pre-built/linux
components/plnx-workspace/
components/yocto/
*/*/config.old
*/*/rootfs_config.old
*.o
*.log
*.jou
