[Unit]
Description=ESS Flask application

[Service]
Type=simple
Restart=always
RestartSec=10s
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/usr/bin/ess-flask-app.py

[Install]
WantedBy=multi-user.target